body{
	font-family: Arial;

	background-color: #45CEEF;
	height: 100%;
}
h1{
	text-align: center;
	color: white;
	margin-top: 1%;
	font-size: 50px;

}
#submit{
	background-color: white;
	width: 10%;
	height: 50px;
	border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #45CEEF;

    margin-left: 45% 

}
h2{
	text-align: center;
	color: white;
	z-index: -1;
	

	font-size: 50px;


}
h3{
	font-size: 50px;
	text-align: center;
	color: white;

}
.DropButton{
	background-color: transparent;
	color: white;
	border-style: dashed;
	border-color: white;
	text-decoration: none;
	width: 60%;
	height: 600px;
	margin-left: 20% ; 

	margin-top: 1% ; 



}