body{
	font-family: 'Source Sans Pro', sans-serif;

	background-color: #45CEEF;
	
}
.Title{
	position: fixed;	
	display:block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: white;
	
	
	font-size: 120px;




}
.Main{

	
	position: absolute;
	top: 500px;
	width: 100%;

	height: 1000px;
	background-color: white;
	color: #45CEEF;
}